/*
Dark Blue #292F44
Middle Blue #586079
Light Blue #BEC9EB
Orange #ff7f50
White #FFFFFF
Gray #D8D8D8
Dark Gray #6B6969

Heading 1 "Oswald 32"
Subheader 1 "Josefin Sans 20"
Body 1 "Maven 16"

*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #4a4a4a;
}

body {
  background-color: lightgray;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.2em;
  font-weight: 700;
}

h2 {
  font-size: 2.0em;
  font-weight: 600;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

img {
  width: 90%;
}

a {
  color: #292f44;
  text-decoration: none;
}

nav>ul>li>a:visited {
  color: #D8D8D8;
}

nav>ul>li>a:hover,
a:focus {
  color: #ff7f50;
  text-decoration: underline;
}

nav>ul>li>a:active {
  color: #D8D8D8;
}

.button {
  display: inline-block;
  background-color: #FF6127;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #6b6969;
  transition: 0.2s opacity;
  margin: 0px 0px 16px 0px
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
  border: 2px solid #ff7f50
}

#social {
  width: 25px
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1, p {
  text-align: center;
  color: #d8d8d8
}

.logo {
  max-width: 250px;
}

header {
  position: fixed;
  width: 100%;
  background-color: #292F44;
padding: 10px 0 4px;
  box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.47);
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}



#hero {
  background-color: #6B6969;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero p {
  color: #d8d8d8
}

p {
  text-align: left;
  font-size: 1em;
  font-weight: 400;
  color: #4a4a4a
}

#intro {
  padding: 10px
}

main {
  padding-top: 150px;
}

#about {
  padding-top: 50px
}

#profile-pic {
  height: 200px;
  width: 200px;
  margin-top: 10px
}

[class*="col-"] {
  float: left;
}

#mill-image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes smoke-move {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.05);
  }
}

#smoke {
  animation: 1s smoke-move infinite alternate linear;
}

@keyframes color-change {
  0% {
fill: #E2E1E1;
  }

  50% {
  fill: #F1EFEF;
  }

  100% {
fill: #FFFFFF;
  }
}

#reflections {
  animation: 1s color-change infinite alternate linear;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 40px;
  padding-right: 10px;
}
main {
  padding-top: 121px;
}
.navtoggle.responsive li  {
  display: block;
}
#socialmedia {
padding-top: 40px
}
#Contact {
  margin-top: 16px
  }
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  body {
    font-size: 18px;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px
  }

  .row:after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h3 {
    margin-top: 0;
  }

  .navtoggle, .navtoggle.responsive {
    position: relative;
  }

  nav>ul>li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
  nav > ul {
  margin: 1em 0;
}
main {
  padding-top: 141px;
}



  /* ==============================
Large devices (1024px or larger)
================================= */
  @media only screen and (min-width: 1024px) {}

  /* ==============================
X-large devices (1440px or larger)
================================= */
  @media only screen and (min-width: 1440px) {
    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .clear-float {
    clear: both;
}
